ul.social-network {
  list-style: none;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa {
  padding: 10px;
  color: white;
  font-size: 35pt;
  text-align: center;
}

.fa-github:hover {
  color: rgb(137, 16, 173);

}

.fa-linkedin:hover {
  color: rgb(40, 20, 228);
}

.page-footer.font-small.pt-4 {
  background-color: #F3A712;
}

.bg {
  background-color: #c98a0c;
}

