/* You can add global styles to this file, and also import other style files */

html
{
  scroll-behavior: smooth;
}

.bg{
  background-color: rgb(255, 238, 0);
}

.fs-54 {
  font-size: 54pt;
}

.fs-18 {
  font-size: 18pt;
}

#background {
  background-image: linear-gradient(180deg, rgb(18, 243, 230, 57%), rgb(18, 243, 230, 0%)),
    linear-gradient(315deg, rgb(41, 51, 92, 90%), rgb(41, 51, 92, 60%), rgb(41, 51, 92, 30%)),
    linear-gradient(25deg, rgb(219, 43, 57, 100%), rgb(219, 43, 57, 66%));
}
